@charset "UTF-8";
.header {
  position: relative;
  height: 88px;
  background-color: #fff;
  padding: 24px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header-social {
    display: none; }

.search-show {
  display: none; }

@media (min-width: 600px) and (max-width: 1000px) {
  .header-social {
    display: flex;
    margin-left: 180px; } }

@media (min-width: 1001px) {
  .header {
    display: none; } }

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'TTLakes-Regular', sans-serif; }

body {
  min-width: 320px;
  overflow-x: hidden;
  position: relative; }

@media (min-width: 600px) and (max-width: 1000px) {
  body {
    position: relative; } }

@media (min-width: 1001px) {
  body {
    position: relative;
    max-width: 1400px; } }

@media (min-width: 1400px) {
  body {
    margin: 0 auto; } }

.btn {
  border: none;
  background: none; }

.btn:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transition: .5s;
  transform: scale(1.1); }

button:hover {
  cursor: pointer; }

@media (min-width: 1001px) {
  .wrapper {
    margin-left: 306px; } }

.modalfeedback {
  position: absolute;
  height: 100%;
  min-width: 320px;
  top: 0;
  right: 0;
  z-index: 100;
  background: #fff;
  padding-top: 15px; }
  .modalfeedback-form {
    text-align: center; }
  .modalfeedback-title {
    position: relative;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 24px; }
  .modalfeedback-title::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 4px;
    height: 40px;
    top: 9px;
    background-color: #41F6D7;
    left: 0; }
  .modalfeedback__message {
    margin-top: 16px;
    width: 288px;
    height: 118px;
    padding-top: 10px;
    font-size: 16px;
    padding-left: 16px;
    border-color: #EAEAEA;
    border-radius: 8px; }
  .modalfeedback-close {
    margin-left: 10px; }
  .modalfeedback-text {
    margin: 10px auto;
    width: 288px;
    height: 64px;
    font-size: 14px;
    color: #B5B6BC; }
    .modalfeedback-text a {
      color: #FF3E79;
      text-decoration: none; }
  .modalfeedback-submit {
    display: block;
    margin-left: auto;
    padding-right: 40px; }

.modalfeedback {
  display: none; }

.modalfeedback-show {
  display: block; }

@media (min-width: 600px) and (max-width: 1000px) {
  .modalfeedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 13px;
    max-width: 370px;
    background: #fff;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2); } }

@media (min-width: 1001px) {
  .modalfeedback {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 14;
    width: 440px;
    height: 100%;
    border-radius: 8px;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2); }
    .modalfeedback-text {
      display: block;
      margin: 0 auto;
      background: #fff; } }

.modalcall {
  position: absolute;
  min-width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 100;
  background: #fff;
  padding-top: 15px; }
  .modalcall-title {
    position: relative;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 24px; }
  .modalcall-title::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 4px;
    height: 40px;
    top: 9px;
    background-color: #41F6D7;
    left: 0; }
  .modalcall-close {
    margin-left: 10px; }
  .modalcall-title {
    position: relative;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 24px; }
  .modalcall-form {
    text-align: center; }
  .modalcall-text {
    margin: 15px auto;
    width: 288px;
    height: 64px;
    font-size: 14px;
    color: #B5B6BC; }
    .modalcall-text a {
      color: #FF3E79;
      text-decoration: none; }
  .modalcall-submit {
    display: block;
    margin-left: auto;
    padding-right: 40px; }

.noscroll {
  overflow-y: hidden; }

.modalcall {
  display: none; }

.modalcall-show {
  display: block; }

@media (min-width: 600px) and (max-width: 1000px) {
  .modalcall {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 13px;
    min-width: 370px;
    background: #fff;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2); } }

@media (min-width: 1001px) {
  .modalcall {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 14;
    min-width: 440px;
    height: 100%;
    background: #fff;
    border: none;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    border: none; }
    .modalcall-text {
      display: block;
      margin: 0 auto; } }

.menu {
  display: none;
  position: absolute;
  top: 0;
  z-index: 11;
  background: #fff;
  min-width: 320px;
  max-width: 100%;
  right: 0;
  left: 0;
  top: 70px;
  right: 0;
  height: 100vh; }
  .menu-title {
    display: flex;
    padding-top: 15px;
    padding-left: 20px; }
  .menu-search {
    padding-left: 30px;
    padding-top: 10px; }
  .menu-items__link {
    margin-top: 15px;
    height: 30px;
    margin-left: 15px;
    display: flex;
    text-decoration: none;
    color: #000;
    margin-bottom: 15px;
    font-size: 16px;
    color: #1B1C21;
    vertical-align: middle; }
  .menu-icons__call {
    margin-left: 16px; }
  .menu-email {
    text-decoration: none;
    color: #000;
    display: flex;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    margin-left: 16px; }
  .menu-phone {
    text-decoration: none;
    color: #000;
    display: flex;
    margin-top: 10px;
    margin-left: 16px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer; }
  .menu-leng {
    margin-top: 10px;
    margin-left: 24px; }

input[type=radio]:checked + span {
  font-weight: bold;
  color: #ff3e79; }

span {
  cursor: pointer; }

.input-leng {
  display: none; }

.show {
  display: block;
  top: 0; }

.search-show {
  display: none; }

.menu-close {
  display: none; }

.menu-items__link:hover {
  color: #7E7E82; }

.menu-link__active::before {
  position: relative;
  content: '';
  color: #7E7E82;
  right: 10px;
  top: -5px;
  display: inline-block;
  width: 4px;
  height: 35px;
  background-color: #41F6D7; }

@media (min-width: 600px) and (max-width: 1000px) {
  .menu {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    height: 90vh;
    width: 320px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset; }
    .menu-title {
      display: flex;
      padding-top: 15px;
      padding-left: 20px; }
    .menu-search {
      padding-left: 30px;
      padding-top: 15px; }
    .menu-icons {
      padding-top: 50px; }
  .search-show__now {
    display: block;
    margin-right: auto;
    margin-left: 15px; }
  .search-hidden__now {
    display: none; } }

.opacity {
  opacity: .1; }

@media (min-width: 1001px) {
  .menu {
    display: block;
    position: absolute;
    height: 100%;
    min-width: 306px;
    max-width: 306px;
    top: 0;
    height: 100%; }
    .menu-icons {
      margin-top: 270px; }
    .menu-items {
      width: 270px; }
      e
.menu-items__link {
        padding-top: 10px; }
  .burger-close {
    display: none; } }

.input {
  width: 288px;
  height: 48px;
  border-color: #EAEAEA;
  border-radius: 8px;
  margin-top: 16px;
  margin-top: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  font-size: 16px;
  outline: none; }

.section-content {
  padding-top: 20px;
  background: #F8F8F8;
  min-width: 320px; }
  .section-content h1 {
    font-size: 28px;
    font-weight: bold;
    margin-left: 24px; }
  .section-content .feedback {
    display: none; }
  .section-content .nav-link {
    margin-top: 10px;
    height: 40px;
    padding: 10px 0px;
    margin-top: 20px;
    margin-left: 13px;
    overflow-x: scroll;
    white-space: nowrap; }
    .section-content .nav-link__item {
      font-family: 'TT Lakes', sans-serif;
      text-decoration: none;
      font-weight: Medium;
      text-decoration: none;
      font-size: 16px;
      color: #7E7E82;
      padding-left: 10px; }
    .section-content .nav-link__item:focus {
      padding: 5px 10px;
      border: 2px solid #41F6D7;
      border-radius: 5px; }
  .section-content .hide-tab {
    display: none; }
  .section-content .nav-link__active {
    padding: 5px 10px;
    border: 2px solid #41F6D7;
    border-radius: 5px; }
  .section-content .active {
    display: block; }
  .section-content .content-text {
    font-size: 14px;
    margin-top: 32px;
    margin-left: 18px;
    text-align: left;
    color: #1B1C21; }
    .section-content .content-text__btn {
      font-family: 'TTLakes-Bold', sans-serif;
      font-weight: Bold;
      border: none;
      background: none;
      margin-top: 16px;
      margin-left: 18px;
      font-size: 16px;
      color: #1B1C21; }

.content-half,
.content-half__more {
  color: #1B1C21;
  font-size: 16px;
  line-height: 24px;
  font-family: 'TT Lakes', sans-serif;
  font-weight: Medium; }

.text-img {
  padding-right: 10px; }

.content-half__more {
  display: none; }

.show-text {
  padding-top: 15px;
  display: block; }

.transform,
.transform-icon {
  transform: rotate(180deg);
  margin-right: 10px; }

.content-image {
  margin-top: 20px;
  margin-left: 18px; }

.nav__max {
  display: none; }

.nav__min::before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 4px;
  height: 40px;
  top: 100px;
  background-color: #41F6D7;
  left: 0; }

@media (min-width: 600px) and (max-width: 1000px) {
  .nav-heading::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 4px;
    height: 40px;
    top: 10px;
    background-color: #41F6D7;
    left: 0; }
  .content {
    display: flex;
    justify-content: space-between; }
    .content-image {
      margin-left: 15px;
      width: 360px;
      height: 259px; } }

@media (min-width: 1001px) {
  .nav-feedback__show {
    display: block; }
  .nav__min {
    display: none; }
  .nav__max {
    display: flex;
    justify-content: space-between; }
  .nav__max::before {
    position: absolute;
    display: block;
    content: '';
    width: 4px;
    height: 40px;
    top: 20px;
    background-color: #41F6D7; }
  p {
    display: inline-block;
    padding-top: 15px;
    vertical-align: top; }
  .nav-feedback {
    padding-right: 30px; }
    .nav-feedback-button {
      margin-left: 20px; }
  .nav-check {
    font-weight: bold;
    padding-right: 5px;
    font-size: 16px;
    font-family: 'TT Lakes', sans-serif; }
  .section-content .nav-link {
    overflow-x: hidden; }
  .content {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    max-width: 1440px; }
    .content-text {
      max-width: 490px;
      height: 160px; }
      .content-text__btn {
        display: flex; }
    .content-image__icon {
      width: 530px;
      height: 380px; }
  .header-feedback {
    margin-left: 50px; } }

.brands {
  background: #F8F8F8;
  padding-top: 40px; }
  .brands h2 {
    font-size: 16px;
    background-color: #fff;
    line-height: 24px;
    padding: 10px 0px 10px 18px;
    color: #7E7E82;
    font-size: 16px;
    background: linear-gradient(-270deg, #F8F8F8 0%, #FFFFFF 98.61%); }
  .brands-more {
    padding-bottom: 30px;
    background: #F8F8F8; }

.brands-info,
.brands-more {
  display: none; }

.slide {
  padding-top: 15px; }

.brands-more__item {
  font-size: 16px;
  margin-left: 10px; }

@media (min-width: 600px) and (max-width: 1000px) {
  .brands-title {
    display: block;
    color: #7E7E82;
    font-size: 16px; }
  .brands-info {
    width: calc(100% - 40px);
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between; }
  .brands-more {
    display: block;
    left: 0;
    padding-left: 20px;
    border: none;
    font-weight: bold;
    margin-top: 20px;
    font-size: 16px; } }

@media (min-width: 1001px) {
  .brands-info {
    max-width: 1120px;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 18px; }
  .brands-more {
    display: block;
    font-size: 16px;
    margin-top: 16px;
    margin-left: 40px;
    font-weight: bold; }
    .brands-more__item {
      margin-left: 0; }
  .brands-icon {
    padding-right: 10px; } }

.cart {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background: #fff;
  width: 240px;
  height: 72px;
  padding-bottom: 25px;
  align-items: center; }

.five {
  display: none; }

.show-cart {
  display: flex;
  justify-content: space-between; }

.arrow {
  width: 40px;
  height: 40px; }

@media (min-width: 1001px) {
  .swiper-container {
    display: none; } }

.price {
  padding-top: 10px;
  background: #F8F8F8; }

.price-title {
  font-size: 16px;
  color: #7E7E82;
  background-color: #fff;
  padding: 15px 0px 15px 18px;
  background: linear-gradient(-270deg, #F8F8F8 0%, #FFFFFF 98.61%); }

.price-cart {
  margin-left: 20px;
  background: #fff;
  margin-top: 15px;
  width: 260px;
  height: 200px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 15px; }

.buy {
  align-self: flex-end;
  padding-bottom: 5px; }

.min-title {
  padding-top: 5px;
  font-size: 16px;
  color: #7E7E82; }

.about {
  font-size: 14px; }

.description {
  font-size: 14px;
  margin-top: 16px;
  margin-left: 16px; }

.commercian {
  margin-top: 18px;
  margin-left: 18px;
  margin-bottom: 0; }
  .commercian-button {
    font-size: 16px;
    font-weight: bold; }

.line {
  padding-left: 5px;
  vertical-align: middle; }

.section-servise {
  background: #F8F8F8; }

.servise-title {
  font-size: 16px;
  color: #7E7E82;
  background: linear-gradient(-270deg, #F8F8F8 0%, #FFFFFF 98.61%);
  height: 52px;
  background-color: #fff;
  padding: 15px 0px 25px 18px; }

.servise-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 16px;
  background: #fff;
  width: 240px;
  height: 160px;
  padding-left: 10px;
  margin-top: 15px;
  margin-left: 15px; }

.cart-more {
  display: none; }

.servise-arrow {
  align-self: flex-end; }

.servise-wrap {
  display: none; }

.swiper-pagination {
  margin-top: 25px; }

@media (min-width: 600px) and (max-width: 1000px) {
  .cart {
    margin-top: 15px;
    width: 224px; }
  .cart-hidden {
    display: none; }
  .servise-title {
    height: 30px; }
  .servise-wrap {
    max-width: 770px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; }
  .servise-cart {
    width: 220px;
    margin-left: 20px; }
  .servise-hidden {
    display: none; }
  .cart-more {
    display: block;
    margin-top: 30px;
    margin-left: 20px;
    padding-bottom: 20px; }
  .three-cart {
    display: none; }
  .show-three {
    display: flex; }
  .show-cart {
    display: flex; }
  .cart-text {
    font-weight: bold;
    margin-left: 10px; }
  .arrow {
    height: 40px;
    width: 40px; } }

@media (min-width: 1001px) {
  .servise-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: calc(100% - 40px); }
  .three-cart {
    display: none; }
  .show-three {
    display: flex;
    flex-wrap: wrap; }
  .cart-more {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 40px;
    padding-bottom: 20px; }
  .cart-icon {
    padding-right: 10px; } }

.swiper-pagination-bullet {
  background: #7E7E82 !important; }

.swiper-pagination {
  position: relative !important; }

@media (min-width: 600px) and (max-width: 1000px) {
  .swiper-container {
    display: none; } }

/* таблица*/
.table {
  display: table;
  margin: 0 auto; }
  .table-header {
    display: table-header-group;
    height: 64px;
    line-height: 14px;
    color: #7E7E82; }
  .table-row {
    display: table-row;
    background-color: #FFFFFF;
    height: 64px;
    line-height: 16px; }
  .table-cell {
    display: table-cell;
    padding: 0 16px;
    vertical-align: middle; }
  .table-services {
    width: 348px;
    border-top: 1px solid #EAEAEA; }
  .table-prices {
    width: 74px;
    border-top: 1px solid #EAEAEA; }
  .table-time {
    width: 114px;
    border-top: 1px solid #EAEAEA; }
  .table-actions {
    width: 119px;
    border-top: 1px solid #EAEAEA; }

@media (max-width: 600px) {
  .wrapper-table {
    display: none; } }

@media (min-width: 600px) and (max-width: 1000px) {
  .table-prices {
    display: block;
    padding: 0 24px;
    display: none;
    background-color: red; } }

@media (min-width: 1001px) {
  .table-time {
    width: 205px; }
  .table-cell {
    padding: 0 24px; }
  .table-prices {
    padding: 0 32px;
    width: 205px; }
  .table-services {
    width: 480px; } }

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  color: #7E7E82;
  background: #F2F2F2; }

.shrink {
  width: 220px;
  padding-top: 10px; }

@media (min-width: 1001px) {
  .footer {
    padding-top: 10px;
    font-size: 14px;
    justify-content: space-around; }
  .description {
    max-width: 420px;
    max-height: 60px; } }


/*# sourceMappingURL=style.css.map*/