


/* таблица*/
.table {
  display: table;
  margin: 0 auto;
  &-header {
    display: table-header-group;
    height: 64px;
    line-height: 14px;
    color: #7E7E82;
  }
  &-row {
    display: table-row;
    background-color: #FFFFFF;
    height: 64px;
    line-height: 16px;
  }
  &-cell {
    display: table-cell;
    padding: 0 16px;
    vertical-align: middle;
  }
  &-services {
    width: 348px;
    border-top: 1px solid #EAEAEA;
  }
  &-prices {
    width: 74px;
    border-top: 1px solid #EAEAEA;
  }
  &-time {
    width: 114px;
    border-top: 1px solid #EAEAEA;
  }
  &-actions {
    width: 119px;
    border-top: 1px solid #EAEAEA;
  }

}

 @media (max-width:600px) {
   .wrapper-table {
     display: none;
   }
 }

@media (min-width: 600px) and (max-width: 1000px) {
  .table{
    &-prices {
      display: block;
      padding: 0 24px;
      display: none;
    background-color: red;
    }

  }
}

@media (min-width: 1001px) {
  .table {
    &-time {
      width: 205px;
    }
    &-cell {
      padding: 0 24px;
  }
  &-prices {
    padding: 0 32px;
     width: 205px
  }
  &-services {
    width: 480px;
  }
}
}



