.menu{
  display: none;
  position: absolute;
  top: 0;
  z-index: 11;
  background: #fff;
  min-width: 320px;
  max-width: 100%;
  right: 0;
  left: 0;
  top: 70px;
  right: 0;
  height: 100vh;
  &-title {
    display: flex;
    padding-top: 15px;
    padding-left: 20px;
  }
  &-search {
    padding-left: 30px;
    padding-top: 10px
  }
  &-items {
    padding-top: 30px;
    width: 320px;
      &__link {
        // margin-top: 15px;
        height: 30px;
        margin-left: 15px;
        display: flex;
        text-decoration: none;
        color: #000;
        margin-bottom: 15px;
        font-size: $big;
        color: $blackcolor;
        vertical-align: middle;
      }
    }
    &-icons {
      margin-top: 10px;
      margin-left: 24px;
    }
    &-email {
      display: flex;
      margin-top: 5px;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
    }
    &-phone {
      display: flex;
      margin-top: 12px;
      font-size: 24px;
      font-weight: bold;
      cursor: pointer;
    }
    &-leng {
      margin-left: 24px;
    }
    .leng{
       border: none;
       background: none;
       margin-top: 10px;
       &--active {
        color: #FF3E79;
       }
    }

}
// .menu-items a:hover{
//   color: $greycolor;
// }
// .menu-items a:focus {
//   color: $greycolor;
// }
.leng:hover {
color: #FF3E79;
}
.menu-items a:hover {
    box-shadow: 0 0 3px 3px #ff3e79;
    background-color: #FF3E79;
    border-radius: 4px;
    color: #FFFFFF;
    outline: none;
}

.show {
 display: block;
 top: 0;

}
.search-show {
  display: none;
}

.menu-close {
  display: none;
}

.link__active {
  color: $greycolor;
}
.link__active::before {
  position: relative;
  content: '';
  right: 10px;
  top: -5px;
  display: inline-block;
  width: 4px;
  height: 35px;
  background-color: #41F6D7;
}



//media 600-769px
@media (min-width: 600px) and (max-width: 1000px) {
  .menu {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    height: 90vh;
    width: 320px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
      -23px 0 20px -23px rgba(0, 0, 0, .8),
      23px 0 20px -23px rgba(0, 0, 0, .8),
      0 0 40px rgba(0, 0, 0, .1) inset;

    &-title {
      display: flex;
      padding-top: 15px;
      padding-left: 20px;
    }

    &-search {
      padding-left: 30px;
      padding-top: 15px;
    }

    &-icons {
      padding-top: 50px;
    }
  }
  .search-show__now {
    display: block;
    margin-right: auto;
    margin-left: 15px;
  }

  .search-hidden__now {
    display: none;
  }
}
.opacity {
  opacity: .1;
}


@media (min-width: 1001px) {
  .menu {
    display: block;
    position: absolute;
    height: 100%;
    min-width: 306px;
    max-width: 306px;
    top: 0;
    height: 100%;

    &-icons {
      margin-top: 270px;
    }

    &-items {
      width: 270px;

      &__link {
        padding-top: 10px;
      }
    }
  }
   .burger-close {
     display: none;
   }

}