.swiper-pagination-bullet {
  background: #7E7E82 !important;
}

.swiper-pagination {
  position: relative !important;
  // margin-top: 30px;
}

//media 600-769px
@media (min-width: 600px) and (max-width: 1000px) {

  .swiper-container {
    display: none;
  }
}

@media (min-width: 1001px) {
 
}