.header {
  position: relative;
  height: 88px;
  background-color: #fff;
  padding: 24px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-social {
    display: none;
  }
  }

.search-show {
  display: none;
}


@media (min-width: 600px) and (max-width: 1000px) {
  .header {
    &-social {
      display: flex;
      margin-left: 180px;
    }
  }
}

@media (min-width: 1001px) {
.header {
  display: none;
}

}