.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  color: #7E7E82;

  background: #F2F2F2;

}

.shrink {
  width: 220px;
  padding-top: 10px;
}

@media (min-width: 1001px) {

    .footer {
      padding-top: 10px;
      font-size: $small;
      justify-content: space-around;
    }

    .description {
      max-width: 420px;
      max-height: 60px;
    }
}